<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator" />
    <meta name="author" content="htmlGenerator" />
  </head>

  <body>
    <div
      style="
        background-image: linear-gradient(
          0deg,
          rgba(95.00000193715096, 187.00000405311584, 236.00000113248825, 1) 0%,
          rgba(206.0000029206276, 185.00000417232513, 227.00000166893005, 1)
            100%
        );
        width: 800px;
        height: 600px;
        padding: 42px 0 0 61px;
      ">
      <div
        style="
          background-color: rgba(255, 255, 255, 1);
          width: 716px;
          height: 478px;
          border-top-left-radius: 30px;
          border-top-right-radius: 30px;
          border-bottom-left-radius: 30px;
          border-bottom-right-radius: 30px;
          padding: 60px 0 0 31px;
        ">
        <div
          style="
            width: 102px;
            height: 85px;
            background-image: url(https://visit-busan-s3.s3.ap-northeast-2.amazonaws.com/mail/visit_busan_tour_email.png);
            background-repeat: no-repeat;
            background-size: cover;
          "></div>
        <p
          style="
            color: rgba(0, 0, 0, 1);
            width: 219px;
            height: 20px;
            font-family: Pretendard;
            text-align: left;
            font-size: 20px;
            letter-spacing: 0;
            line-height: px;
          "
          >Your verification code is:
          <p
            style="
              color: rgba(0, 0, 0, 1);
              width: 60px;
              height: 20px;
              font-family: Pretendard;
              text-align: left;
              font-size: 24px;
              letter-spacing: 0;
              line-height: px;
            "
            >{{ authorized_code }} </p
          ><p
            style="
              color: rgba(0, 0, 0, 1);
              width: 607px;
              font-family: Pretendard;
              text-align: left;
              font-size: 20px;
              letter-spacing: 0;
            "
            >This e-mail({{ email }}) is an e-mail authentication for registration of application ‘Visit-Busan-Tour’. Please enter the code to verify your identity.</p
          ></p
        >
      </div>
    </div>
  </body>
</html>
